<!DOCTYPE html>
<body>
    <div class="sidebar">
        <img src="../../../assets/logo4.png" alt="El Muelle" class="logo">
        <nav class="navbar">
            <ul>
                <li><span class="material-icons">menu_book</span> Categoría</li>
                <li><span class="material-icons">table_restaurant</span> Mesa</li>
                <li><span class="material-icons">flatware</span> Plato</li>
                <li><span class="material-icons">person</span> Trabajador</li>
                <li><span class="material-icons">badge</span> Cargo</li>
            </ul>
        </nav>
        <div class="bottom-buttons">
            <hr class="divider">
            <a href="#" class="logout">
                <span class="material-icons">logout</span> Logout
            </a>
        </div>
    </div>
    <div class="content">
        <header>
            <a href="#" class="inicio-button" (click)="navigateToPrincipal()">
                <span class="material-icons">home</span> Inicio
            </a>
        </header>
        <main id="main-content">
            <div class="category">
                <label for="category-name">Nombre de la categoría*</label>
                <input type="text" id="category-name" name="category-name">
                <button>Agregar</button>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ejemplo</td>
                            <td>Activo</td>
                            <td>
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <script src="script.js"></script>
</body>
