<div class="container">

  <div class="principal-container">
    <h2>¿Qué empezarás a hacer hoy?</h2>

    <div class="button-row">
      <button class="principal-button" (click)="openMenu()">Orden</button>
      <button class="principal-button" (click)="openReporte()">Reporte</button>
      <button class="principal-button" (click)="openFactura()">Factura</button>
    </div>

    <div class="button-row">
      <button class="principal-button" (click)="openStock()">Stock</button>
      <button class="principal-button">Botón 5</button>
      <button class="principal-button">Botón 6</button>
    </div>

  </div>

</div>
